<div class="d-flex justify-center items-center">
  <nb-card>
    <nb-card-header>New Purchase</nb-card-header>
    <nb-card-body>
      <form>
        <div class="form-inline">
          <div class="form-group row">
            <label for="inputEmail1"
              class="label col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
              <input type="email"
                nbInput
                fullWidth
                id="inputEmail1"
                placeholder="Email">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword2"
              class="label col-sm-3 col-form-label">Password</label>
            <div class="col-sm-9">
              <input type="password"
                nbInput
                fullWidth
                id="inputPassword2"
                placeholder="Password">
            </div>
          </div>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
</div>
