<div class="d-flex justify-center items-center">
  <nb-card class="w-100 w-100 m-md-4"
    accent="primary">
    <nb-card-header>New Purchase</nb-card-header>
    <nb-card-body>
      <form class="d-flex flex-column items-center">

        <!-- Purchase -->

        <div class="row w-100">
          <div class="col-12 col-md-4 col-lg-2 form-group">
            <label for="inputAmount"
              class="label">Amount</label>
            <input nbInput
              fullWidth
              id="inputAmount"
              placeholder="Amount">
          </div>

          <div class="col-12 col-md-8 col-lg-5 form-group">
            <label for="inputProductId"
              class="label">Product</label>
            <nb-select fullWidth
              [(selected)]="selectedProduct"
              id="inputProductId">
            </nb-select>
          </div>

          <div class="col-12 col-lg-5 row w-100">
            <div class="col form-group mr-1">
              <label for="inputPrice"
                class="label">Price</label>
              <input nbInput
                fullWidth
                id="inputPrice"
                placeholder="Price">
            </div>

            <div class="col-3 d-flex align-items-center bg-light-gray border-fuchsia">
              <nb-checkbox class="align-self-center ">
                <span>Custom</span>
              </nb-checkbox>
            </div>
          </div>
        </div>

        <hr>

        <!-- Customer -->

        <div class="row w-100">
          <div class="col form-group">
            <label for="inputCustomerId"
              class="label">Customer</label>
            <nb-select fullWidth
              [(selected)]="selectedProduct"
              id="inputCustomerId">
            </nb-select>
          </div>
        </div>

        <div class="p-1">
          <div class="row w-100">
            <div class="col-12 col-lg-7 form-group">
              <label for="inputAddress"
                class="label">Address</label>
              <input type="text"
                nbInput
                fullWidth
                id="inputAddress"
                placeholder="Address">
            </div>

            <div class="col form-group">
              <label for="inputPhone"
                class="label">Phone</label>
              <input type="tel"
                nbInput
                fullWidth
                id="inputPhone"
                placeholder="Phone">
            </div>
          </div>

          <div class="row w-100">
            <div class="col form-group">
              <label for="inputCompanyName"
                class="label">Company Name</label>
              <input nbInput
                fullWidth
                id="inputCompanyName"
                placeholder="Company Name">
            </div>

            <div class="col form-group">
              <label for="inputTaxId"
                class="label">Tax Id</label>
              <input nbInput
                fullWidth
                id="inputTaxId"
                placeholder="Tax Id">
            </div>

            <div class="col form-group">
              <label for="inputCheckingAccount"
                class="label">Checking Account</label>
              <input nbInput
                fullWidth
                id="inputCheckingAccount"
                placeholder="Checking Account">
            </div>
          </div>
        </div>
        <hr>

        <!-- Purchase description -->

        <div class="row w-100">
          <div class="col form-group">
            <label for="inputDescription"
              class="label">Description</label>
            <textarea nbInput
              fullWidth
              placeholder="Description..."></textarea>
          </div>
        </div>

        <div class="row w-100 d-flex justify-content-end p-3">
          <button nbButton
            type="submit"
            size="large">
            <nb-icon icon="save"></nb-icon>Save
          </button>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
</div>
