<div class="d-flex justify-center items-center">
  <nb-card class="w-100 w-100 m-md-4">
    <nb-card-header>New Purchase</nb-card-header>
    <nb-card-body>
      <form class="d-flex flex-column items-center">
        <div class="row w-100">
          <div class="col-12 col-md-4 col-lg-2 form-group">
            <label for="inputAmount"
              class="label">Amount</label>
            <input type="text"
              nbInput
              fullWidth
              id="inputAmount"
              placeholder="Amount">
          </div>

          <div class="col-12 col-md col-lg-2 form-group">
            <label for="inputProductId"
              class="label">Product</label>
            <nb-select fullWidth
              [(selected)]="selectedProduct"
              id="inputProductId">
            </nb-select>
          </div>

          <div class="col-12 col-md-12 col-lg row w-100">
            <div class="col form-group mr-1">
              <label for="inputPrice"
                class="label">Price</label>
              <input type="email"
                nbInput
                fullWidth
                id="inputPrice"
                placeholder="Price">
            </div>

            <div class="col-3 d-flex align-items-center bg-light-gray border-fuchsia">
              <nb-checkbox class="align-self-center ">
                <span>Custom</span>
              </nb-checkbox>
            </div>
          </div>
        </div>


        <div class="row w-100">
          <div class="col-12 col-lg-7 form-group pr-lg-0">
            <label for="inputAddress"
              class="label">Address</label>
            <input type="text"
              nbInput
              fullWidth
              id="inputAddress"
              placeholder="Address">
          </div>

          <div class="col form-group ml-lg-3">
            <label for="inputPhone"
              class="label">Phone</label>
            <input type="tel"
              nbInput
              fullWidth
              id="inputPhone"
              placeholder="Phone">
          </div>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
</div>
